.control-box {
    border-radius: 2px;
    padding: .1em 1.5em;
}

.play-label {
	font-size: 18px;
	font-weight: bold;
	padding: .5em 1.7em;
}

.custom-search-button {
  min-width: 75px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-width: 1px;
  padding: 2px 8px;
  color: #eeeeec;
  background-color: #2e3436;
  border-color: rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px #454f52;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black; }
  .custom-search-button:focus {
    color: #eeeeec;
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black;
    box-shadow: inset 0px 0px 0px 1px #215d9c; }
  .custom-search-button:insensitive {
    color: #949796;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(66, 72, 73, 0.7);
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none; }
  .custom-search-button:active {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: #222728;
    box-shadow: inset 0 0 black;
    text-shadow: none;
    icon-shadow: none; }
